@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,700);
html{-ms-text-size-adjust:100%;-webkit-tap-highlight-color:rgba(0,0,0,0);
   -webkit-text-size-adjust:100%;font:normal 400 14px 'Roboto', Arial, Helvetica, sans-serif;}
   html input[disabled]{cursor:default;}
   body{background-color:#eff7fa;font:normal 400 14px 'Roboto', Arial, Helvetica, sans-serif;
      color:#555;margin:0;width:100%;}p{margin:0;padding:0;}
      input,button,select,textarea{font-family:inherit;font-size:inherit;
         line-height:inherit;}[role="button"]{cursor:pointer;}ul{margin:0;padding:0;}
         ol{margin-bottom:10px;margin-top:0;}ul ul,ol ul,ul ol,ol ol{margin-bottom:0;}
         dl{margin-bottom:20px;margin-top:0;}dt{font-weight:bold;line-height:1.42857143;}
         dd{line-height:1.42857143;margin-left:0;}p{line-height:20px;}
         article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section,summary{display:block;}
        

*{
    font-family: sans-serif;
}
html{
   background: #000;
}
body{
   background: rgb(19, 204, 228);font: normal 400 14px 'Roboto', Arial, Helvetica, sans-serif;color: #555;margin: 0;width: 100%;
}
#inptsearch{
   width: 600px;height: 40px;position: relative;left: 355px;background-color: rgb(202, 226, 229);font-size: 15px;border:none;border-radius: 5px 0 0 5px;
}
h2{
   position:relative;margin-left: 20px;top: -100px;
}
.logo{
   position: relative;top: 10px;left: 50px;
}
#search{
   width: 100px;height: 40px;background-image: -webkit-linear-gradient(0deg,#ff934b 0%,#ff5e62 100%);color:white ;position: relative;left: 350px;border:none;font-size: 15px;border-radius: 0 5px 5px 0;
}
.container1{
   width: 100%;height: 50px;position: relative;top: 20px;background-color: #1EA6B6;
}
.navside{
text-align: center;padding: 10px;
}
li{
  list-style: none;display: inline;margin: 20px;padding: 10px;font-size: 14px;
   
   color: #fff;
}
.container1 li:hover{
   background-color: white;color: #1EA6B6;height:50px;cursor: pointer;

}
.container2{
   width: 100%;height: 35px;position: relative;top: 20px;
}
.container2 li{
   color:black;  
}
.container2 li:hover{
color: #1EA6B6;cursor: pointer;
}
.imagecontainer1 img{
   width: 1219px;height: 300px;margin: 50px;transition: 500ms;

}
.image1{
   width: 205px;height: 121px;position: relative;top: -350px;left: 1297px;
}
.image2{
    width: 205px;height: 121px;position: relative;top: -228px;left: 1088px;
}
.image3{
   width: 205px;height: 121px;position: relative;top: -106px;left: 878px;
}
.imagecontainer1{
   background-color: rgb(226, 219, 219);margin-top: 30px;position: relative;left: 21px;width: 1268px;
}
.friday{
   position: relative;left: 60px; top:-36px;text-align: center;font-size: 15px;color: black;
}

.friday1{
    position: relative;left: 230px;top:-36px;text-align: center;font-size: 15px;color: black;cursor: pointer;
 }
 .friday2{
    position: relative;left: 402px;top:-36px;text-align: center;font-size: 15px;color: black;cursor: pointer;
 }
 .friday3{
    position: relative;left: 510px;top:-36px;text-align: center;font-size: 15px;color: black;cursor: pointer;
 }
 .friday4{
    position: relative;left: 604px;top:-36px;text-align: center;font-size: 15px;color: black;cursor: pointer;
 }
 .friday:hover{
    width: 80px;height: 50px;background-color: #fff;color: #1EA6B6;cursor: pointer;
}
 .friday1:hover{
    width: 80px;height: 50px;background-color: #fff;color: #1EA6B6;cursor: pointer;
}
.prod{
   position: relative;top:-20px;display: inline;
}
.product{ 
   
   width: 1500px;height: 264px;position: relative;top: -100px;margin-left: 16px;background-color: rgb(235, 229, 229);
}
.product1{
   width: 1500px;height: 264px;position: relative;top: -89px;margin-left: 16px;background-color: rgb(235, 229, 229);
}
.li-prod{
   width: 214px; height: 262px; left: 10px;text-align: center;
}

.li-prod img{
   text-align: center;height: 100px;margin-top:51px;
}
.li-prod2 img{
   text-align: center;height: 100px;margin-top:51px;
}
.li-prod3 img{
   text-align: center;height: 100px;margin-top:51px;
}
.li-prod4 img{
   text-align: center;height: 100px;margin-top:51px;
}
.li-prod5 img{
   text-align: center;height: 100px;margin-top:51px;
}
.li-prod6 img{
   text-align: center;height: 100px;margin-top:51px;
}
.li-prod1 img{
   text-align: center;height: 100px;margin-top:51px;
}


.li-prod img:hover{
  -webkit-transform:scale(1.2);-ms-transform: scale(1.2);transform: scale(1.2);transition: 0.2s ease;
}
.li-prod1{
   width: 214px;height: 273px;border: 1px solid;text-align: center;position: relative;left: 221px;top: -273px;border: none;
}

.li-prod1 img:hover{
   -webkit-transform:scale(1.2);
   -ms-transform: scale(1.2);transform: scale(1.2);transition: 0.2s ease;
 }
.li-prod2{
   width: 214px;
   height: 273px;border: 1px solid;text-align: center;position: relative;left: 432px;top: -546px;border: none;
}
.li-prod2 img:hover{
   -webkit-transform:scale(1.2);-ms-transform: scale(1.2);transform: scale(1.2);transition: 0.2s ease;
 }
.li-prod3{
   width: 214px;height: 273px;border: 1px solid;text-align: center;position: relative; left: 644px;top: -819px;
   border: none;
}
.li-prod3 img:hover{
   -webkit-transform:scale(1.2);-ms-transform: scale(1.2);transform: scale(1.2);transition: 0.2s ease;
 }
.li-prod4{
   width: 214px;height: 273px;border: 1px solid;text-align: center;position: relative;left: 856px;top: -1092px;border: none;
}
.li-prod4 img:hover{
   -webkit-transform:scale(1.2);-ms-transform: scale(1.2);transform: scale(1.2);transition: 0.2s ease;
 }
.li-prod5{
   width: 214px;height: 273px;border: 1px solid;text-align: center;position: relative;left: 1068px;top: -1365px;
   border: none;
}
.li-prod5 img:hover{
   -webkit-transform:scale(1.2);-ms-transform: scale(1.2);transform: scale(1.2);transition: 0.2s ease;
 }
.li-prod6{
   width: 214px;height: 273px;border: 1px solid;text-align: center;position: relative;left: 1280px;top: -1638px;border: none;
}
.li-prod6 img:hover{
   -webkit-transform:scale(1.2);-ms-transform: scale(1.2);transform: scale(1.2);transition: 0.2s ease;
 }

div a h4{
   display: inline-block;color: #757575;margin: 12px 0px 7px 0px;font-weight: 400;text-overflow: ellipsis;white-space: nowrap;width: 100%;overflow: hidden;text-align: left;text-decoration: none;

}
.product-one{
   width: 1500px;height: 405px;margin-top: -87px;margin-left: 16px;border: 1px solid;
}

/*--------------footer--------------- */
.footer{
	background: #000;
	color: #8a8a8a;
	font-size: 14px;
	padding:60px 0 20px;
   width: 1519px;
}
.footer p{
	color:#8a8a8a;
}
.footer h3{
	color: #fff;
	margin-bottom: 20px;
}
.footer-col-1 ,.footer-col-2,.footer-col-3.footer-col-4{
	min-width: 250px;
	margin-bottom: 20px;
}
.footer-col-1{
	flex-basis: 30%;
}
.footer-col-2{
	flex:1;
	text-align: center;
}
.footer-col-2 img{
	width: 180px;
	margin-bottom: 20px;
}
.footer-col-3,.footer-col-4{
	flex-basis: 12%;
	text-align: center;
}
ul{
	list-style-type: none;
}
.app-logo{
	margin-top: 10px;
	width: 20px;
	height: 20px;
}
.footer hr{
	border:none;
	background: #b5b5b5;
	height: 1px;
	margin: 20px 0;
}
.copyright{
	text-align: center;
}
.menu-icon{
	width: 28px; 
	margin-left: 20px; 
	display: none; 
}
element.style {
   width: 1768px;
   position: relative;
   left: -250px;
}

li {
    list-style: none;
    display: inline;
    margin: 5px;
    padding: 10px;
    font-size: 14px;
    color: #fff;
}